*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }

.enviar{
    color: white;
    background-color:  rgba(173, 243, 68, 0.979);
  }
.enviar:hover{
    background-color: #7a1987;
    color: white;
  }
.total{
      background-color: rgb(188, 219, 240);
  }